<div class="col-md-3 personal-info">
   <div class="avatar-content">
      <%= image_tag @user.avatar.url, class: "img-circle user-avatar", width: "150", height: "150"%>
      <i class="fa fa-camera img-avatar" data-toggle="modal" data-target="#editAvatar" target="_blank"></i>
      <p class="username"><%=@user.username%></p>
   </div>
   
   <div class="user-info">
      <div class="col-md-offset-2 col-md-1 icons">
      <p><i class="fa fa-qrcode"></i></p>
         <p><i class="fa fa-users"></i></p>
         <p><i class="fa fa-flag-o"></i></p>
         <p><i class="fa fa-male"></i></p>
         <p><i class="fa fa-skype"></i></p>
         <p><i class="fa fa-mobile"></i></p>
         <p><i class="fa fa-home"></i></p>
         <p><i class="fa fa-envelope"></i></p>
      </div>
      <div class="col-md-8 info">
         <p><%=@user.user_code%></p>
         <p><%=@team.name%></p>
         <p><%=@role.name%></p>
         <p><%=current_user.gender%></p>
         <p><%=@user.skype%></p>
         <p>+84 <%=@user.phone%></p>
         <p><%=@user.address%></p>
         <p><%=@user.email%></p>
         <button class="btn edit-profile" data-toggle="modal" data-target="#editProfile" target="_blank">Edit Profile</button>
      </div>
   </div>
</div>
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <%= form_for(@user, controller: :users, method: :patch, :html => { :multipart => true }) do |f| %>
      <div class="modal-content update-modal-content container">
         <div class="modal-header upload-modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Update Profile</h4>

         </div>
         <div class="modal-body update-profile-body">
            <div class="upload-content row">
               <div class="row">
                  <div class="col-md-6">
                  <div class="field s-field">
                        <%= f.label :username %><br />
                        <%= f.text_field :username, autofocus: false, class: "form-control s-input" %>
                     </div>
                     <div class="field s-field">
                        <%= f.label :address %><br />
                        <%= f.text_field :address, autofocus: false, class: "form-control s-input" %>
                     </div>
                  <div class="form-group input-language">
                      <%= f.label :region, "Region:"%><br />
                      <%= f.select :region, options_from_collection_for_select(LanguageList::COMMON_LANGUAGES, "name", "name"), {:prompt => :region}, :required => true%>
                    </div>
                    <%= link_to "Change your password", edit_user_registration_path%>
                    </div>
                  <div class="col-md-6">
                     <div class="field s-field">
                        <%= f.label :skype %><br />
                        <%= f.text_field :skype, autofocus: false, class: "form-control s-input" %>
                     </div>
                     <div class="field s-field">
                        <%= f.label :phone %><br />
                        <%= f.text_field :phone, autofocus: false, class: "form-control s-input" %>
                     </div>
                     <div class="field s-field">
                        <%= f.label :gender %><br />
                        <%= f.select :gender, options_for_select([["Male", "male"], ["Female", "female"], ["Others", "others"]], "selected"), class: "select-gender", prompt: "Select gender" %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Save changes", class: "btn btn-primary" %> 
         </div>
      </div>
      <% end %>
   </div>
</div>
<div class="modal fade" id="editAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <%= form_for @user, html: {multipart: true} do |f| %>
      <div class="modal-content update-modal-content container">
         <div class="modal-header upload-modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Choose Avatar</h4>
         </div>
         <div class="modal-body update-profile-body">
            <div class="upload-content row">
               <div class="row">
                  <div class="col-md-6">
                     <div class="field">
                        <%= f.label :avatar %><br>
                        <%= f.file_field :avatar %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "OK", class: "btn btn-primary" %> 
         </div>
      </div>
      <% end %>
   </div>
</div>