<div class="slogan">
  <h1 class="slogan-content"><strong>CIRRICULUM VITAE LIST</strong></h1>
  <div class="cv-lasted-version">
    <button class="dropdown btn btn-default choose-team-btn">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <strong>Choose a team </strong><b class="caret"></b>
      </a>
      <ul class="dropdown-menu team-menu">
        <li><%= link_to "Ruby", root_path %></li>
        <li><%= link_to "PHP", root_path %></li>
        <li><%= link_to "iOS", root_path %></li>
        <li><%= link_to ".Net", root_path %></li>
        <li><%= link_to "Android", root_path %></li>
        <li><%= link_to "Java", root_path %></li>
      </ul>
    </button>
  </div>
</div>
<div class="row cv-list">
  <div class="cv-list-tags">
    <div class="col-md-1 list-column no-tag">No.</div>
    <div class="col-md-6 list-column list-name-tag">
      <p>Name</p>
    </div>
    <div class="col-md-2 list-column cv-file-tag">
      <p>CV</p>
    </div>
    <div class="col-md-2 list-column date-tag">
      <p>Updated date</p>
    </div>
  </div>
  <div class="list-content">

  <div class="list-detail">
    <div class="col-md-1 no-detail">1</div>
    <div class="col-md-6 name-detail">
      <p>Thanh Truong</p>
    </div>
    <div class="col-md-2 file-detail">
      <a href="#">Download</a>
    </div>
    <div class="col-md-2 date-detail">
      <p>15/07/2015</p>
    </div>
  </div>

  </div>
</div>